body {
    padding-top: 4.6875rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--blue) !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.form-row {
    margin-left: 0;
    margin-right: 0;
}

.icone-vantagens {
    height: 6.25rem;
}

#home-quote {
    background: url('../img/bg-quote.jpg') center center;
    background-size: cover;
}

#perguntas {
    margin-top: -15px;
}

.lista-plano li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.lista-plano li {
    padding: 1rem;
}

#planos h2::after {
    display: block;
    content: '';
    width: 32px;
    height: 4px;
    background: var(--blue);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

footer a.text-secondary:hover {
    color: #fff !important;
}

#contato h2::after {
    display: block;
    content: '';
    width: 32px;
    height: 4px;
    background: var(--blue);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

#inscricao h2::after {
    display: block;
    content: '';
    width: 32px;
    height: 4px;
    background: var(--blue);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.modal-header {
    border-bottom: none;
}

.modal-body h3::after {
    display: block;
    content: '';
    width: 32px;
    height: 4px;
    background: var(--blue);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    .display-4 {
        font-size: 2.5rem;
    }

    body {
        padding-top: 0px;
    }

    .fixed-top {
        position: relative;
    }
}
